/* *{
    font-family: Arial, Helvetica, sans-serif;
} */

.dropdown {
  /* width: 250px; */
}

.dropdown-btn,
.copy-btn {
  background-color: #e71e70;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: relative;
  display: block;
  white-space: nowrap;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
  min-width: 200px;
  background-color: #e71e70;
  padding: 10px;
  z-index: 1;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.copy-btn:hover,
.dropdown-btn:hover {
  background-color: #c9185d;
}

.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  left: 0%;
  top: 110%;
  /* transform: translateY(-50%); */
  z-index: 2;
  width: 400px;
  text-wrap: balance;
}

.copy-btn:hover .tooltip {
  visibility: visible;
}
